/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

#posts {
  margin-top: 20px;
}

.post {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#postForm {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
